In [ ]:
# The code was removed by Watson Studio for sharing.

Description: 
This notebook analyzes and visualizes capital punishment data

In [1]:
# The code was removed by Watson Studio for sharing.

      STATE  EXECUTIONS  INCOME  PERPOVERTY  PERBLACK  VC100k96  SOUTH  DEGREE
0     Texas          37   34453        16.7      12.2       644      1    0.16
1  Virginia           9   41534        12.5      20.0       351      1    0.27
2  Missouri           6   35802        10.6      11.2       591      0    0.21
3  Arkansas           4   26954        18.4      16.1       524      1    0.16
4   Alabama           3   31468        14.8      25.9       565      1    0.19